<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Płyty Vinylowe</title>
    <link rel="stylesheet" href="/common-controls.css">
    <link rel="stylesheet" href="/basket.css">
</head>
<body>

<div th:replace="template.html :: logo"></div>
<div th:replace="template.html :: menu"></div>

<div id="content">
    <div class="basket-row ">
        <div class="title">Tytuł</div>
        <div class="pieces">Ilość</div>
        <div class="price1">Cena za sztukę</div>
        <div class="price2">Cena</div>

    </div>

    <th:block th:each="vinyl : ${vinyls}">

        <div class="basket-row vinyl">
            <div class="title" th:text="${vinyl.title}" ></div>
            <div class="pieces" th:text="${vinyl.pieces}" ></div>
            <div class="price1" th:text="${vinyl.price}" ></div>
            <div class="price2" th:text="${vinyl.price * vinyl.pieces}" ></div>

        </div>

    </th:block>

    <div class="basket-row">
        <div class="title"></div>
        <div class="pieces"></div>
        <div class="price1">Razem</div>
        <div class="price2" th:text="${bill}"></div>

    </div>


</div>
</body>
</html>