<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Płyty Vinylowe</title>
    <link rel="stylesheet" href="/contact.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/common-controls.css">

</head>
<body>
<div th:replace="template.html :: logo"></div>
<div th:replace="template.html :: menu"></div>
<div id="content">
    <p>Mój sklep z winylami</p>
    <p> ul. floriańska 34</p>
    <p>tel numer: 888 888 888</p>
</div>
</body>
</html>