<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Płyty Vinylowe</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
<img src="/LogoLong.jpeg" alt="logo" id="logo">
<form id="login-form" method="post" action="">
    <input type="text" placeholder="login"class="text-input" th:field="*{userModel.login}">
    <input type="password" placeholder="password" class="text-input" th:field="*{userModel.pass}">
    <input type="submit" value="Zaloguj" id="form-submit">
</form>


</body>
</html>